@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #070e0f;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid whitesmoke;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: #6b6b69;
    overflow: hidden;
}

.carro {
    position: absolute;
    width: 50px;
    left: calc(50% - 30px);
    bottom: calc(2%);   /* carro ficar na parte inferior */
}

.par-de-barreiras {
    position: absolute;
    /* top: 0;  */
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barreira .borda {
    height: 60px;
    width: 50px;
    background: linear-gradient(180deg, #e60202, #ffffff); /*estilo borda F1*/
    /* border: 2px solid #000; */
}

.barreira .corpo {
    height: 60px;
    width: 450px;
    background: #639301;
    /* border-left: 2px solid #000;
    border-right: 2px solid #000; */
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}